<div class="h-screen md:flex p-4">
    <div class="relative overflow-hidden md:w-4/5 h-full p-4 w-full">
        <div contenteditable="true" class="w-full h-full border-2"
            class="content border-2 h-full w-full outline-0	p-2 text-sm	" #ecinput
            (input)="editableInputContent=ecinput.innerText"></div>
    </div>
    <div class="relative md:flex md:w-3/12 w-full flex-col justify-center p-4">
        <button class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2 cursor-pointer"
            (click)="getContentValue()" [disabled]="isApiCallInProgress">
            Get accessible code
        </button>
    </div>
    <div class="md:w-4/5 w-full p-4 h-full">
        <pre class="w-full h-full pre-custom">
            <div contenteditable="true" class="content border-2 h-full w-full outline-0 p-2 overflow-y-scroll	text-sm	"
            id="editableOutputContent"></div>
        </pre>

    </div>

</div>